<% include header %>
            <div id="principal"  class="row bg centered">
				<div class="small-6 left column">
					<h1 class="title justifyed">Oh, Nooooo!</h1>
					<p class="justifyed">
						<br/>
						<strong>Alguma coisa não está funcionando!</strong> <br/>
						Provavelmente o recurso que você procurava não foi encontrado ou não existe. 
						Volte para a <a href="/rbc">página inicial</a> ou acesse o menu acima.
					</p>
				</div>
				<div class="small-6 right column">
					<img
						src="public/img/rotational-poem.png"
						width="430"
						height="300"
						alt="A rotational poem"/>
				</div>
			</div>
			<% include footer %>
    </body>
</html>