<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            eduCase :: Aplicando Raciocínio Baseado em Casos no Aconselhamento PsicoPedagógico
        </title>
        <script src="/public/js/modernizr.js">
        </script>
        <link
            href="/public/css/foundation.css"
            rel="stylesheet" />
        <link
            href="/public/css/jquery-ui.css"
            rel="stylesheet" />
        <link
            href="/public/css/select2.css"
            rel="stylesheet" />
        <link
            href="/public/css/app.css"
            rel="stylesheet" />
    </head>
    <body ng-app="educase">
        <div id="container">
            <div id="header">
                <img
                    src="/public/img/logo.png"
					width="372"
					height="100"
                    alt="Edu.Case - Sistema Especialista Aplicado ao Aconselhamento Pedagógico
                    Utilizando Raciocínio Baseado em Casos"
					class="left"/>
                <img
                    src="/public/img/ifrn.jpg"
                    alt="IFRN"
					width="85"
					height="100"
					class="right hide-for-small-only"/>
            </div>
				<!-- menu -->
			        	<div id="menu">
							<nav class="top-bar" data-topbar data-options="custom_back_text:true; back_text:←;">
						        <ul class="title-area">
						            <li class="name">
						            </li>
						            <li class="toggle-topbar menu-icon">
						                <a href="#"">MENU</a>
						            </li>
						        </ul>
						        <section class="top-bar-section">
						            <ul class="left">
						                <li>
						                    <a href="/rbc" class="active">Atendimento</a>
						                </li>
						                <li>
						                    <a href="/relatorio">Relatórios</a>
						                </li>
						                <li>
						                    <a href="/inteligencia">Sobre o projeto</a>
						                </li>
						                <li>
						                    <a href="/contato">Contato</a>
						                </li>
						            </ul>
						        </section>
						    </nav>
			    		</div>
				<!-- end top -->