<% include header %>
            <div id="principal"  class="row bg">
				<div class="small-10 centered" id="form">
				    <form
				        class="row"
				        method="post"
				        action="/entrar"
	        			data-abide 
	        			novalidate >
				        <section class="large-12 panel no-border">
							<fieldset>
							<legend>
								Informe email e senha para acessar.
							</legend>
				            <div class="row">
				                <div class="small-5 centered">
									<input
										type="email"
										name="usuario[email]"
										placeholder="usuario@ifrn.edu.br"
										required />
				                </div>
				            </div>
				            <div class="row">
				                <div class="small-5 centered">
									<input
										type="password"
										name="usuario[senha]"
										placeholder="senha"
										min="5"
										required />
				                </div>
				            </div>
							<div class="row">
				                <div class="small-12 column centered">
				                    <button
				                        type="submit"
				                        class="success button small">
				                        ENTRAR
				                    </button>
				                </div>
				            </div>	
				        </section>
				    </form>
				</div>
            </div>	            
            <% include footer %>
    </body>
</html>