			<% include ../header %>
            <div id="principal"  class="row bg centered">
				<div class="small-6 left column">
					<h1 class="title justifyed">
						Oi eu sou <%- caso.classe %>, vizinho <%- vizinhos[0].id  %>, vc é <%- vizinhos[0].classe  %>?
					</h1>
					<% console.log(vizinhos[40]); %>
					<p class="justifyed">
						<br/>
						<strong>Deu certo?</strong> <br/>
						Verifique se o nome acima corresponde ao que você estava pensando.
					</p>
				</div>
			</div>
			<% include ../footer %>