<% include ../header %>
            <div id="principal"  class="row bg centered" ng-app="rbc">
				<div
					class="small-6 left column"
					ng-controller="reusar">
					<h1 class="title justifyed">
						Oi eu sou <%- caso.classe %>, vizinho, vc é <%- vizinhos[0].classe  %>?
					</h1>
					<p class="justifyed">
						<br/>
						<strong>Deu certo?</strong> <br/>
						Verifique se os nome abaixo correspondem ao que você estava pensando:
					</p>
				</div>
			</div>
			<% include ../footer %>
    </body>
</html>